body{
    background-image:url("background3.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
h2{
   display: flex;
   justify-content: center;
   font-size: 30px;
   font-weight: bolder;
   color: white;
}
#introp{
    display: flex;
    justify-content: center;
    width: 45%;
    margin-left:35%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
    color: white;
}
.intro{
    margin-top: 13%;
}
.play{
    margin-left:47%;
    font-weight: bold;
    height: 30px;
    padding: 7px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:palevioletred;
    color:black;
    cursor: pointer;
}
.quizguide {
    display: none;           
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width:47%;             
    background-color:#483D8B;
    padding:15px;   
    z-index: 1000;           
}
.quizguide ul{
    border: 2px solid white;
    list-style-position: inside;
    padding: 7px;
    width:60%;
    margin:0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
    color: white;
}
.quizguide .continue{
    margin-left:47%;
    font-weight: bold;
    height: 30px;
    padding: 7px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:palevioletred;
    color:black;
    cursor: pointer;
}
.quizguide h2{
    display: flex;
   justify-content: center;
   font-size: 30px;
   font-weight: bolder;
   color: white;
}